@using YLPDotNetCore.MvcApp2.Database

@model List<BlogEntity>

<div class="m-5 p-5 border border-1">
    <a href="Blog/Create" class="btn btn-outline-primary">New</a>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Actions</th>
            <th>Blog Id</th>
            <th>Blog Title
            <th>Blog Content</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    <a href="/Blog/Edit/@item.BlogId" class="btn btn-sm btn-success" >Edit</a>
                    <button class="btn btn-sm btn-outline-danger btn-delete" data-blog-id="@item.BlogId">Delete</button>
                </td>
                <td>@item.BlogId</td>
                <td>@item.BlogTitle</td>
                <td>@item.BlogAuthor</td>
                <td>@item.BlogContent</td>
            </tr>
        }
   </tbody>
</table>

@section scripts{
    <script>
        $('.btn-delete').click(function(e){
           // alert("hello");
           e.preventDefault();

           let isConfirm = confirm("Are you sure want to delete?");
           if(!isConfirm) return;

           let id = $(this).data('blog-id');
           let _blog = {
               BlogId : id
           };

            console.log(_blog);
           $.ajax({
                type: "POST",
                url: "/Blog/Delete",
                // data: JSON.stringify(_data),
                // contentType: "application/json; charset=utf-8",
                data: { blog: _blog},
                dataType: "JSON",
                success: function (result) {
                    console.log("Result", result);

                    if(!result.IsSuccess){
                        alert(result.Message);
                        return;
                    }

                    alert(result.Message);
                    location.href = "/Blog";
                },
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    alert("An error occurred: " + err.Message );
                }
            });
        })
    </script>
}
