@model List<BlogModel>;

@{
    ViewData["Title"]= "Blog";
    int count = 0;
}



<section class="border rounded-2 m-5 p-5">
    <div class="d-flex justify-content-between">
        <div>
            <h2 class="mb-5 d-inline-block"> Lists </h2>
            <h4 class="ms-3 d-inline-block text-primary">@Model.Count</h4>
        </div>
        <div>
            <a href="/BlogAjax/Create" class=" btn btn-success">New</a>
        </div>
    </div>
    <table class="table table-responsive">
        <tr>
            <th>Actions</th>
            <th>#</th>
            <th>Title</th>
            <th>Author</th>
            <th>Content</th>
        </tr>
        <tbody>
            @foreach (BlogModel item in Model)
            {
                <tr>
                    <td>
                        <a href="/BlogAjax/Edit/@item.BlogId" class="btn btn-sm btn-outline-primary">Edit</a>
                        <button class="btn btn-sm btn-outline-danger btn-delete" data-blog-id="@item.BlogId">Delete</button>
                    </td>
                    <td>@(++count)</td>
                    <td>@item.BlogTitle</td>
                    <td>@item.BlogAuthor</td>
                    <td>@item.BlogContent</td>
                </tr>                  
            }
        </tbody>
    </table>
</section>
@section scripts {
    <script>
        $('.btn-delete').click(function(){
            let id = $(this).data("blog-id");
            Swal.fire({
              title: "Confirm",
              text: "Are you sure want to delete ?",
              icon: "question",
              showCancelButton: true,
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "Yes"
            }).then((result) => {
              if (result.isConfirmed) {
                deleteBlog(id)
              }
            });
           
            function deleteBlog(id){
                let _reqModel = {
                   BlogId: id
                }

                $.ajax({
                    url:"/BlogAjax/Delete/",
                    // data: JSON.stringify(_reqModel),
                    data:{blog: _reqModel},
                    type:"POST",
                    // contentType:"application/json;charset=utf-8",
                    dataType:"json",
                    success: function(result){
                        // console.log(result);
                        if(result.IsSuccess){
                            Swal.fire({
                              title: "Success!",
                              text: result.Message,
                            }).then((result) => {
                              if (result.isConfirmed) {
                                location.href = ("/BlogAjax");
                              }
                            });
                        }
                        else{
                             Swal.fire({
                              title: "Error!",
                              text: result.Message,
                              icon: "error"
                         });
                        }
                    },
                    error: function(errormessage){
                        console.log(errormessage.responseText);
                    }
                });
            }

            
        })
    </script>
}
